/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-background: #eee;
}





/****************/
/* JOUW STYLING */
/****************/
header a {
	font-family: Calibre, Helvetica, Arial, sans-serif;
	font-weight: 400;
	letter-spacing: 0.02em;
	color: black;
	font-size: xx-large;
}

.nav2 {
	font-family: Calibre, Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: larger;
	letter-spacing: 0.02em;
	text-decoration: none;
}

H1 {
	font-family: Calibre, Helvetica, Arial, sans-serif;
	font-weight: 400;
	letter-spacing: 0.02em;
}

h2 {
	font-family: sfsquarehead;
	letter-spacing: 0.1em;
	font-size: 3em;
}

main a {
	font-family: sfsquarehead;
	letter-spacing: 0.1em;
	font-size: 3em;
	color: black;
	font-weight: 900;
	text-decoration: none;
}

h3 {
	font-family: Calibre, Helvetica, Arial, sans-serif;
	font-weight: 400;
	letter-spacing: 0.02em;
}

button {
	font-family: Calibre, Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: larger;
	letter-spacing: 0.02em;
	background: none;
	border: none;
}

p {
	font-family: Calibre, Helvetica, Arial, sans-serif;
	/* hoe zorg ik dat Calibre werkt? */
	font-weight: 400;
	font-size: 1.125rem;
	line-height: 1.35;
}

p a {
	font-family: Calibre, Helvetica, Arial, sans-serif;
	/* hoe zorg ik dat Calibre werkt? */
	font-weight: 400;
	font-size: 1.125rem;
	line-height: 1.35;
}


img {
	width: 45%;
	height: auto;
}

