/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-background: #eee;
}





/****************/
/* JOUW STYLING */
/****************/
h1{
	font-family: sfsquarehead;
	font-weight: 400;
	letter-spacing: 0.1em;
	color: black;
	font-size: xx-large;
}

h2{
	font-family: Calibre, Helvetica, Arial, sans-serif;
	font-weight: 400;
	letter-spacing: 0.02em;
	color: black;
	font-size: xx-large;
}

a{
	font-family: Calibre, Helvetica, Arial, sans-serif;
	font-weight: 400;
	letter-spacing: 0.02em;
	color: black;
	font-size: xx-large;	
}

h3{
	font-family: sfsquarehead;
	font-weight: 400;
	letter-spacing: 0.1em;
	color: black;
	font-size: xx-large;	
}

h4{
	font-family: sfsquarehead;
	font-weight: 400;
	letter-spacing: 0.1em;
	color: black;
	font-size: xx-large;
}

button {
	font-family: Calibre, Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: larger;
	letter-spacing: 0.02em;
	background: none;
	border: none;
}

h5{
	font-family: Calibre, Helvetica, Arial, sans-serif;
	font-weight: 400;
	letter-spacing: 0.1em;
	color: black;
}

h6{
	font-family: Calibre, Helvetica, Arial, sans-serif;
	font-weight: 400;
	letter-spacing: 0.1em;
	color: grey;
}

data{
	font-family: sfsquarehead;
	font-weight: 400;
	letter-spacing: 0.1em;
	color: black;
}

p{
	font-family: Calibre, Helvetica, Arial, sans-serif;
	/* hoe zorg ik dat Calibre werkt? */
	font-weight: 400;
	font-size: 1.125rem;
	line-height: 1.35;
}

img {
	width: 45%;
	height: auto;
}

footer{
	background-color: black;
}